/**
* Grid
*
* Simple grid built with scss.
*
* Philippe Marr - philippe.marr@gmail.com
*/
/**
* Grid setup
*
* $grids will inform the grid loops how many columns there should be and how many grids.
* $gutter-width will inform the grid loops how big each column's gutters should be.
*
*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

.section {
  margin: 0 auto;
  width: 90%; }
  @media (max-width: 1025px) {
    .section {
      width: 95%; } }
  @media (max-width: 600px) {
    .section {
      width: 98%; } }

.section .row {
  margin-left: -5px;
  margin-right: -5px; }

.row [class^="col-"] {
  float: left;
  padding: 0 5px; }

.row:after {
  content: " ";
  display: table;
  clear: both; }

.row .col--1-8, .row .col--2-16 {
  width: 12.5%; }

.row .col--2-8, .row .col--3-12, .row .col--4-16 {
  width: 25%; }

.row .col--3-8, .row .col--6-16 {
  width: 37.5%; }

.row .col--4-8, .row .col--6-12, .row .col--8-16 {
  width: 50%; }

.row .col--5-8, .row .col--10-16 {
  width: 62.5%; }

.row .col--6-8, .row .col--9-12, .row .col--12-16 {
  width: 75%; }

.row .col--7-8, .row .col--14-16 {
  width: 87.5%; }

.row .col--8-8, .row .col--12-12, .row .col--16-16 {
  width: 100%; }

.row .col--1-12 {
  width: 8.33333%; }

.row .col--2-12 {
  width: 16.66667%; }

.row .col--2-8, .row .col--3-12, .row .col--4-16 {
  width: 25%; }

.row .col--4-12 {
  width: 33.33333%; }

.row .col--5-12 {
  width: 41.66667%; }

.row .col--4-8, .row .col--6-12, .row .col--8-16 {
  width: 50%; }

.row .col--7-12 {
  width: 58.33333%; }

.row .col--8-12 {
  width: 66.66667%; }

.row .col--6-8, .row .col--9-12, .row .col--12-16 {
  width: 75%; }

.row .col--10-12 {
  width: 83.33333%; }

.row .col--11-12 {
  width: 91.66667%; }

.row .col--8-8, .row .col--12-12, .row .col--16-16 {
  width: 100%; }

.row .col--1-16 {
  width: 6.25%; }

.row .col--1-8, .row .col--2-16 {
  width: 12.5%; }

.row .col--3-16 {
  width: 18.75%; }

.row .col--2-8, .row .col--3-12, .row .col--4-16 {
  width: 25%; }

.row .col--5-16 {
  width: 31.25%; }

.row .col--3-8, .row .col--6-16 {
  width: 37.5%; }

.row .col--7-16 {
  width: 43.75%; }

.row .col--4-8, .row .col--6-12, .row .col--8-16 {
  width: 50%; }

.row .col--9-16 {
  width: 56.25%; }

.row .col--5-8, .row .col--10-16 {
  width: 62.5%; }

.row .col--11-16 {
  width: 68.75%; }

.row .col--6-8, .row .col--9-12, .row .col--12-16 {
  width: 75%; }

.row .col--13-16 {
  width: 81.25%; }

.row .col--7-8, .row .col--14-16 {
  width: 87.5%; }

.row .col--15-16 {
  width: 93.75%; }

.row .col--8-8, .row .col--12-12, .row .col--16-16 {
  width: 100%; }

@media (max-width: 1025px) {
  .row .col-l-1-8, .row .col-l-2-16 {
    width: 12.5%; }
  .row .col-l-2-8, .row .col-l-3-12, .row .col-l-4-16 {
    width: 25%; }
  .row .col-l-3-8, .row .col-l-6-16 {
    width: 37.5%; }
  .row .col-l-4-8, .row .col-l-6-12, .row .col-l-8-16 {
    width: 50%; }
  .row .col-l-5-8, .row .col-l-10-16 {
    width: 62.5%; }
  .row .col-l-6-8, .row .col-l-9-12, .row .col-l-12-16 {
    width: 75%; }
  .row .col-l-7-8, .row .col-l-14-16 {
    width: 87.5%; }
  .row .col-l-8-8, .row .col-l-12-12, .row .col-l-16-16 {
    width: 100%; }
  .row .col-l-1-12 {
    width: 8.33333%; }
  .row .col-l-2-12 {
    width: 16.66667%; }
  .row .col-l-2-8, .row .col-l-3-12, .row .col-l-4-16 {
    width: 25%; }
  .row .col-l-4-12 {
    width: 33.33333%; }
  .row .col-l-5-12 {
    width: 41.66667%; }
  .row .col-l-4-8, .row .col-l-6-12, .row .col-l-8-16 {
    width: 50%; }
  .row .col-l-7-12 {
    width: 58.33333%; }
  .row .col-l-8-12 {
    width: 66.66667%; }
  .row .col-l-6-8, .row .col-l-9-12, .row .col-l-12-16 {
    width: 75%; }
  .row .col-l-10-12 {
    width: 83.33333%; }
  .row .col-l-11-12 {
    width: 91.66667%; }
  .row .col-l-8-8, .row .col-l-12-12, .row .col-l-16-16 {
    width: 100%; }
  .row .col-l-1-16 {
    width: 6.25%; }
  .row .col-l-1-8, .row .col-l-2-16 {
    width: 12.5%; }
  .row .col-l-3-16 {
    width: 18.75%; }
  .row .col-l-2-8, .row .col-l-3-12, .row .col-l-4-16 {
    width: 25%; }
  .row .col-l-5-16 {
    width: 31.25%; }
  .row .col-l-3-8, .row .col-l-6-16 {
    width: 37.5%; }
  .row .col-l-7-16 {
    width: 43.75%; }
  .row .col-l-4-8, .row .col-l-6-12, .row .col-l-8-16 {
    width: 50%; }
  .row .col-l-9-16 {
    width: 56.25%; }
  .row .col-l-5-8, .row .col-l-10-16 {
    width: 62.5%; }
  .row .col-l-11-16 {
    width: 68.75%; }
  .row .col-l-6-8, .row .col-l-9-12, .row .col-l-12-16 {
    width: 75%; }
  .row .col-l-13-16 {
    width: 81.25%; }
  .row .col-l-7-8, .row .col-l-14-16 {
    width: 87.5%; }
  .row .col-l-15-16 {
    width: 93.75%; }
  .row .col-l-8-8, .row .col-l-12-12, .row .col-l-16-16 {
    width: 100%; } }

@media (max-width: 770px) {
  .row .col-m-1-8, .row .col-m-2-16 {
    width: 12.5%; }
  .row .col-m-2-8, .row .col-m-3-12, .row .col-m-4-16 {
    width: 25%; }
  .row .col-m-3-8, .row .col-m-6-16 {
    width: 37.5%; }
  .row .col-m-4-8, .row .col-m-6-12, .row .col-m-8-16 {
    width: 50%; }
  .row .col-m-5-8, .row .col-m-10-16 {
    width: 62.5%; }
  .row .col-m-6-8, .row .col-m-9-12, .row .col-m-12-16 {
    width: 75%; }
  .row .col-m-7-8, .row .col-m-14-16 {
    width: 87.5%; }
  .row .col-m-8-8, .row .col-m-12-12, .row .col-m-16-16 {
    width: 100%; }
  .row .col-m-1-12 {
    width: 8.33333%; }
  .row .col-m-2-12 {
    width: 16.66667%; }
  .row .col-m-2-8, .row .col-m-3-12, .row .col-m-4-16 {
    width: 25%; }
  .row .col-m-4-12 {
    width: 33.33333%; }
  .row .col-m-5-12 {
    width: 41.66667%; }
  .row .col-m-4-8, .row .col-m-6-12, .row .col-m-8-16 {
    width: 50%; }
  .row .col-m-7-12 {
    width: 58.33333%; }
  .row .col-m-8-12 {
    width: 66.66667%; }
  .row .col-m-6-8, .row .col-m-9-12, .row .col-m-12-16 {
    width: 75%; }
  .row .col-m-10-12 {
    width: 83.33333%; }
  .row .col-m-11-12 {
    width: 91.66667%; }
  .row .col-m-8-8, .row .col-m-12-12, .row .col-m-16-16 {
    width: 100%; }
  .row .col-m-1-16 {
    width: 6.25%; }
  .row .col-m-1-8, .row .col-m-2-16 {
    width: 12.5%; }
  .row .col-m-3-16 {
    width: 18.75%; }
  .row .col-m-2-8, .row .col-m-3-12, .row .col-m-4-16 {
    width: 25%; }
  .row .col-m-5-16 {
    width: 31.25%; }
  .row .col-m-3-8, .row .col-m-6-16 {
    width: 37.5%; }
  .row .col-m-7-16 {
    width: 43.75%; }
  .row .col-m-4-8, .row .col-m-6-12, .row .col-m-8-16 {
    width: 50%; }
  .row .col-m-9-16 {
    width: 56.25%; }
  .row .col-m-5-8, .row .col-m-10-16 {
    width: 62.5%; }
  .row .col-m-11-16 {
    width: 68.75%; }
  .row .col-m-6-8, .row .col-m-9-12, .row .col-m-12-16 {
    width: 75%; }
  .row .col-m-13-16 {
    width: 81.25%; }
  .row .col-m-7-8, .row .col-m-14-16 {
    width: 87.5%; }
  .row .col-m-15-16 {
    width: 93.75%; }
  .row .col-m-8-8, .row .col-m-12-12, .row .col-m-16-16 {
    width: 100%; } }

@media (max-width: 600px) {
  .row .col-s-1-8, .row .col-s-2-16 {
    width: 12.5%; }
  .row .col-s-2-8, .row .col-s-3-12, .row .col-s-4-16 {
    width: 25%; }
  .row .col-s-3-8, .row .col-s-6-16 {
    width: 37.5%; }
  .row .col-s-4-8, .row .col-s-6-12, .row .col-s-8-16 {
    width: 50%; }
  .row .col-s-5-8, .row .col-s-10-16 {
    width: 62.5%; }
  .row .col-s-6-8, .row .col-s-9-12, .row .col-s-12-16 {
    width: 75%; }
  .row .col-s-7-8, .row .col-s-14-16 {
    width: 87.5%; }
  .row .col-s-8-8, .row .col-s-12-12, .row .col-s-16-16 {
    width: 100%; }
  .row .col-s-1-12 {
    width: 8.33333%; }
  .row .col-s-2-12 {
    width: 16.66667%; }
  .row .col-s-2-8, .row .col-s-3-12, .row .col-s-4-16 {
    width: 25%; }
  .row .col-s-4-12 {
    width: 33.33333%; }
  .row .col-s-5-12 {
    width: 41.66667%; }
  .row .col-s-4-8, .row .col-s-6-12, .row .col-s-8-16 {
    width: 50%; }
  .row .col-s-7-12 {
    width: 58.33333%; }
  .row .col-s-8-12 {
    width: 66.66667%; }
  .row .col-s-6-8, .row .col-s-9-12, .row .col-s-12-16 {
    width: 75%; }
  .row .col-s-10-12 {
    width: 83.33333%; }
  .row .col-s-11-12 {
    width: 91.66667%; }
  .row .col-s-8-8, .row .col-s-12-12, .row .col-s-16-16 {
    width: 100%; }
  .row .col-s-1-16 {
    width: 6.25%; }
  .row .col-s-1-8, .row .col-s-2-16 {
    width: 12.5%; }
  .row .col-s-3-16 {
    width: 18.75%; }
  .row .col-s-2-8, .row .col-s-3-12, .row .col-s-4-16 {
    width: 25%; }
  .row .col-s-5-16 {
    width: 31.25%; }
  .row .col-s-3-8, .row .col-s-6-16 {
    width: 37.5%; }
  .row .col-s-7-16 {
    width: 43.75%; }
  .row .col-s-4-8, .row .col-s-6-12, .row .col-s-8-16 {
    width: 50%; }
  .row .col-s-9-16 {
    width: 56.25%; }
  .row .col-s-5-8, .row .col-s-10-16 {
    width: 62.5%; }
  .row .col-s-11-16 {
    width: 68.75%; }
  .row .col-s-6-8, .row .col-s-9-12, .row .col-s-12-16 {
    width: 75%; }
  .row .col-s-13-16 {
    width: 81.25%; }
  .row .col-s-7-8, .row .col-s-14-16 {
    width: 87.5%; }
  .row .col-s-15-16 {
    width: 93.75%; }
  .row .col-s-8-8, .row .col-s-12-12, .row .col-s-16-16 {
    width: 100%; } }

/*# sourceMappingURL=css/grid.css.map */