/**
* Grid
*
* Simple grid built with scss.
*
* Philippe Marr - philippe.marr@gmail.com
*/


/**
* Grid setup
*
* $grids will inform the grid loops how many columns there should be and how many grids.
* $gutter-width will inform the grid loops how big each column's gutters should be.
*
*/

// Number of grids / grid columns.
$grids: (8, 12, 16) !default;

// Breakpoints
$BP-large: 1025px !default;
$BP-medium: 770px !default;
$BP-small: 600px !default;

// Gutter width
$gutter-width: 10px !default;

// Moblie First
$moblie_first: false !default;

// Push and pull
//
// This will give you offsets left and right.
$offsets: false !default;

// Automatic grid
//
// This will do some common grid width changes automatically. Use class '.auto-grid' on the '.row'
$auto-grid: false !default;






* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.section {
  margin: 0 auto;
  width: 90%;

  @media (max-width: $BP-large) {
    width: 95%;
  }
  @media (max-width: $BP-small) {
    width: 98%;
  }
}

.section .row {
  margin-left: (-1 * $gutter-width / 2);
  margin-right: (-1 * $gutter-width / 2);
}

.row {
  [class^="col-"] {
    float: left;
    padding: 0 $gutter-width / 2;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}


@import "components/_mixin.scss";


@if $moblie_first{

  @import "components/_moblie.scss";

} @else {

  @import "components/_desktop.scss";

}
